body {
  background: #0670D8;
}

.mellow-yellow {
  display: flex;
  flex-direction: column;
  background: #FFC62A;
  border-radius: 30px;
  max-width: 1000px;
  align-items: center;
  margin: 0 auto;
  padding: 15px;
}

.profile-card {
  position: relative;
  top: 0;
  width: 300px;
  background: white;
  box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
  text-align: center;
  border: black 3px solid;
}

.profile-image {
  padding: 20px 20px 0px 20px;
  border-radius: 50px;
}

.iconify {
  color: #ffc62a;
  width: 25px;
  height: 25px;
  padding: 3px;
}

h1 {
  font-family: 'Cormorant Garamond', serif;
  font-family: 'Roboto Mono', monospace;
  font-size: large;
}

.about-me-section {
  position: relative;
  top: 10px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}

.stuff-section {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}

.box {
  background: white;
  box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
  margin: 15px;
  border: black 3px solid;
  position: relative;
  width: 400px;
}

.ribbon {
  position: absolute;
  text-align: center;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.25);
}

.orange-ribbon {
  width: 150px;
  height: 50px;
  background: #E87449;
  top: 25px;
  left: -10px;
}

.blue-ribbon {
  width: 150px;
  height: 50px;
  background: #0670D8;
  top: 25px;
  left: -10px;
}

.ribbon:before {
  content: "";
  position: absolute;
  top: -10px;
  left: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid black;
  border-top: 5px solid transparent;
  border-bottom: 5px solid black;
}

.ribbon-text {
  font-family: 'Cormorant Garamond', serif;
  font-family: 'Roboto Mono', monospace;
  font-size: medium;
  color: white;
}

.area {
  text-align: left;
  padding: 75px 20px 0px 20px;
  font-family: 'Cormorant Garamond', serif;
  font-family: 'Roboto Mono', monospace;
  font-size: medium;
}

.iconify:hover {
  background-color: #21759a;
}

footer {
  text-align: center;
  font-family: 'Cormorant Garamond', serif;
  font-family: 'Roboto Mono', monospace;
  font-size: small;
  margin: 20px;
}