* {
  margin: 0;
  padding: 0;
}

body {
  text-align: center;
  background-image: url(https://images.pexels.com/photos/1939485/pexels-photo-1939485.jpeg?auto=compress&cs=tinysrgb&w=300;
  );
  background-color: aliceblue;
  font-family: Arial, Helvetica, sans-serif;
}


.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.aboutMe {
  border: solid 2px deepskyblue;
  border-radius: 25px;
  text-align: center;
  margin: 5px;
  width: auto;
  height: auto;
}

img {
  width: 200px;
  margin: 10px;
}

.para-1 {
margin: 30px;
font-size: large;
font-weight: bold;
}

.links-1 {
  display: flex; 
  flex-wrap: wrap;
  flex-direction: row;
  font-weight: bold;
  justify-content: center;
}

.links {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  list-style: none;
  margin-top: 20px;
  background: deepskyblue ;
}
.stuff {
  display: flex;
  align-content: center;
  justify-content: center;
  width: 200px;

}
.links a {
  text-decoration: none;
  display: block;
  padding: 1em;
  color: white;
}

.links a:hover {
background: salmon;
color: black;
}

.container_2 {
  margin-top: 20px;
  size: 30px;
}

.fa-linkedin {
  color: black;
}
.fa-square-instagram {
  color: black;
}
.fa-square-facebook {
  color: black;
}