* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#page {
  display: grid;
  width: 100%;
  height: 250px;
  grid-template-areas:
    "head head"
    "nav  main"
    "nav  foot";
  grid-template-rows: 1fr 6fr 1fr;
  grid-template-columns: 1fr 7fr;
  min-height: 100vh;
  min-width: 100vw;
}

#page > header {
  grid-area: head;
  background-color: #022b3a;
}

h1 {
  text-align: center;
  color: cornsilk;
  padding: 1rem;
  font-size: 2rem;
}

#page > nav {
  grid-area: nav;
  background-color: #1f7a8c;
}

.profile--img {
  width: 20vw;
  height: 20vh;
  object-fit: contain;
  padding: 1rem;
  margin-top: 1rem;
}

.social--icon {
  width: 3vw;
  height: 3vh;
  object-fit: contain;
  margin-top: 0.5rem;
}

.nav--contact {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
}
.nav--email {
  align-content: center;
  padding: 1rem;
  text-align: center;
  font-weight: 600;
  color: antiquewhite;
}

.nav--social {
  align-content: center;
  padding: 1rem;
  text-align: center;
  width: 1rem;
  height: 1rem;
}

#page > main {
  grid-area: main;
  background-color: #bfdbf7;
}

.content--root {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 1rem;
}

.content--main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 1rem;
}

#page > footer {
  grid-area: foot;
  background-color: #e1e5f2;
  text-align: center;
  padding: 2rem;
}

button {
  background-color: #022b3a;
  padding: 1rem;
  border-radius: 15px;
  font-weight: 600;
  color: antiquewhite;
}

/* .parent {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  min-width: 100vw;
  min-height: 100vh;
}

.header {
  grid-area: 1 / 1 / 1 / 6;
  background-color: #00171f;
  text-align: center;
  padding: 30px;
  height: 5vh;
}



.side--bar {
  grid-area: 2 / 1 / 5 / 1;
  background-color: #fcd5ce;
  padding: 30px;
  text-align: center;
}
.footer {
  grid-area: 5 / 1 / 6 / 6;
  background-color: #fec89a;
  text-align: center;
  padding: 80px;
}

.content {
  grid-area: 2 / 2 / 5 / 6;
  background-color: #f9dcc4;
}



 */
