* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #4d7471;
  font-family: "Josefin Sans", sans-serif;
}

.wrapper {
  margin-top: 5%;
}

.wrapper h1 {
  font-family: "Palanquin", "Allura";
  font-size: 60px;
  margin-bottom: 100px;
  /* margin-top: 100px; */
  text-align: center;
  color: #d77818;
  text-shadow: #111111 2px 2px 2px;
}

.team {
  display: flex;
  justify-content: center;
  width: auto;
  text-align: center;
  flex-wrap: wrap;
}

.team .team_member {
  background: #f2f2f2;
  margin: 10px;
  margin-bottom: 50px;
  width: 250px;
  height: 378px;
  padding: 20px;
  line-height: 20px;
  color: #8e8b8b;
  position: relative;
  border: 1px rgb(71, 167, 143) solid;
  border-radius: 5px;
}

.team .team_member h3 {
  color: #111111;
  font-size: 30px;
  margin-top: 80px;
}

.team .team_member p.role {
  color: rgb(148, 147, 147);
  margin: 12px 0;
  font-size: 12px;
  text-transform: uppercase;
  position: relative;
}

.team .team_member .team_img {
  position: absolute;
  top: -90px;
  left: 50%;
  transform: translateX(-50%);
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background: #f2f2f2;
}

.team .team_member .team_img img {
  width: 150px;
  height: 150px;
  padding: 5px;
}
.border {
  display: flex;
  border: 1px solid #d67818;
  display: inline;
  flex-wrap: wrap;
  width: 100%;
  height: 200px;
  background-color: #d67818;
  margin-left: 0;
  margin-right: 0;
  flex-shrink: 0;
  margin-top: 310px;
  position: absolute;
  justify-content: center;
}
.circle {
  /*This creates a 1px solid red border around your element(div) */
  border:10px solid red;
 
 
  /* border-radius 50% will make it fully rounded. */
  border-radius: 10%;
 border-radius:50%;
  border-radius: 50%;
  width: 200px;
  box-sizing:content-box;
}