* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #4d7471;
  font-family: "Josefin Sans", "sans-serif";
}

.container {
  margin-top: 5%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

h1 {
  font-family: "Palanquin", "Allura";
  font-size: 60px;
  margin-bottom: 100px;
  margin-top: 100px;
  text-align: center;
  color: #d77818;
  text-shadow: #111111 2px 2px 2px;
}

.team {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
}

.team_member {
  background: #f2f2f2;
  margin: 50px 20px;
  width: 250px;
  height: 378px;
  padding: 20px;
  line-height: 20px;
  color: #8e8b8b;
  position: relative;
  border: 1px rgb(71, 167, 143) solid;
  border-radius: 5px;
}

h3 {
  color: #111111;
  font-size: 30px;
  margin-top: 80px;
}

.role {
  color: rgb(148, 147, 147);
  margin: 12px 0;
  font-size: 12px;
  text-transform: uppercase;
  position: relative;
}

.team_img {
  position: absolute;
  top: -90px;
  left: 50%;
  transform: translateX(-50%);
  width: 150px;
  height: 150px;
  padding: 5px;
  border-radius: 50%;
  background: #f2f2f2;
}

.border {
  border: 1px solid #d67818;
  width: 100%;
  height: 200px;
  background-color: #d67818;
  margin-top: 310px;
  position: absolute;
}
