* {
  margin: 0;
  padding: 0;
}

html {
  font-family: Gilroy;
}
.Title {
  color: white;
  margin-bottom: 40px;
  margin-top: 15px;
}
.image {
  height: 250px;
  width: 250px;
  border-radius: 100%;
  object-fit: cover;
}
.ProfilePic {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
}
.pic:hover {
  cursor: pointer;
  transform: scale(1.05);
  box-shadow: 5px 5px 15px rgb(93, 154, 93);
}
.main {
  display: flex;
  /* position: relative;
  flex-direction: column; */
  justify-content: center;
  align-items: center;
  background-image: url(BG.jpg);
  background-attachment: fixed;
  background-size: cover;
  padding-top: 50px !important;
}

footer {
  margin-top: 100px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pic {
  height: 250px;
  width: 250px;
  border-radius: 50%;
  object-fit: cover;
}
.Education {
  display: flex;
  flex-direction: column;
  width: 50%;
  min-width: 1000px;
  padding-left: 20px;
  margin-bottom: 30px;
  /* border: 1px solid red; */
}
.BoxBody {
  display: flex;
  flex-direction: row;
}
.box {
  border-radius: 5px;
  width: 21.5%;
  min-width: 250px;
  padding: 10px;
  margin-right: 20px;
  box-shadow: 3px 3px 15px #486e5e;
  background-color: rgb(69, 69, 69);
  transition: 0.3s transform cubic-bezier(0.155, 1.105, 0.295, 1.12), 0.3s;
  color: white;
}
.box:hover {
  cursor: pointer;
  transform: scale(1.05);
  box-shadow: 5px 5px 15px rgb(93, 154, 93);
}
.BoxHeader {
  margin-bottom: 10px;
}
.Children {
  display: flex;
  flex-direction: column;
  width: 50%;
  min-width: 1000px;
  padding-left: 20px;
  margin-bottom: 50px;
}

.section {
  border-radius: 5px;
  width: 30%;
  padding: 10px;
  margin-right: 20px;
  box-shadow: 3px 3px 15px #486e5e;
  background-color: rgb(69, 69, 69);
  color: white;
  display: flex;
  flex-direction: column;
  transition: 1.3s transform cubic-bezier(0.155, 1.105, 0.295, 1.12), 0.5s;
}
.SectionBody {
  display: flex;
  flex-direction: row;
}
.ChildHeader {
  margin-bottom: 10px;
}
.section:hover {
  cursor: pointer;
  transform: scale(1.05);
  box-shadow: 5px 5px 15px rgb(93, 154, 93);
}
.Header {
  margin-bottom: 5px;
  color: rgba(173, 166, 166, 0.809);
  font-size: 20px;
}
.overlay {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 1500px;
  margin-bottom: 50px;
  /* border: 2px solid rgb(126, 117, 118); */
  border-radius: 50px;
  background-color: rgb(31, 31, 31, 0.5);
  padding-bottom: 40px;
  padding-right: 100px;
  box-shadow: 5px 10px 15px #2ca767;
}
