/*About_Me_Mariana*/
* {
  margin: 0;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background: #4d7471;

  font-family: "Josefin Sans", "sans-serif";
}
img {
  width: 200px;
  height: 200px;
  display: flex;
  text-align: center;
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
}

.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 100px;
}
.aboutMe {
  border: 1px rgb(71, 167, 143) solid;
  margin: auto 20px;
  height: 600px;
  border-radius: 50px 0px;
  background: #f2f2f2;
  position: relative;
  margin-top: 50px;
  margin-bottom: 50px;
  color: #8e8b8b;
  text-align: center;
  /* font-size: 20px; */
  padding: 20px;
  
}
.aboutMe_1 {
  width: 25em;
 
  flex-direction: column;
}

.aboutMe_2 {
  width: 50em;
  text-align: center;
 
}

.border {
  border: 1px solid #d67818;
  width: 100%;
  height: 200px;
  background-color: #d67818;
  margin-top: 250px;
  position: absolute;
}

.list {
  list-style-type: none;
  line-height: 30px;
  font-size: 20px;
  
}
.list-1 li {
  border: #4d7471 solid 1px;
  width: 15em;
  margin: 5px;
  padding: 5px;
  background-color: #ddd7d7;
 
}
.list-1{
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 20px;
  position: absolute;
}

.hr {
  margin-top: 250px;
  margin-bottom: 20px;
}
h1 {
  font-family: "Palanquin", "Allura";
  font-size: 25px;
  text-align: center;
  color: #d77818;
}
h2 {
  margin-top: 30px;
  font-family: "Palanquin", "Allura";
  font-size: 25px;
  text-align: center;
  color: #d77818;
}

.greeting {
  padding: 20px;
  font-size: 20px;
  
}
